@use '../variables' as *;
@use '../mixins' as *;
@use '../media' as *;

// Анимация для секции Contact
.contact {
  position: relative;
  // Анимированный фон
  &__animation {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;

    &-right,
    &-left {
      position: absolute;
      height: auto;
      pointer-events: none;
      z-index: 0;
      opacity: 0.7;

      @include mobile {
        display: none;
      }

      // Все path элементы
      path {
        vector-effect: non-scaling-stroke;
      }

      // Светящиеся круги
      circle {
        will-change: transform;
      }

      // Плавное исчезновение для анимированных элементов
      #movingCircle,
      #animatedPath,
      #movingCircleFromListToPerformer,
      #animatedPathFromListToPerformer,
      #movingCircleFromSearchASpecialistToList,
      #animatedPathFromSearchASpecialistToList {
        transition: opacity 0.5s ease-out;
      }

      // Плавное изменение цвета для конечного круга
      #endCircle,
      #endCirclePerformer,
      #endCircleList {
        transition: stroke 0.5s ease-out;
      }
    }

    &-right {
      right: 0%;
    }

    &-left {
      left: 0%;
    }
  }
  
  
  

  &__container {
    position: relative;
  }

  &__form-wrapper {
    position: relative;
    z-index: 1;
  }
}
