@use '../media';
@use '../mixins';

.hero {
  position: relative;
  min-height: 673px;
  overflow: hidden;
  border-radius: 32px;
  margin-inline: 32px;

  @include media.desktop {
    min-height: 600px;
  }

  @include media.tablet {
    min-height: 500px;
    border-radius: 24px;
  }

  @include media.mobile {
    min-height: 941px;
    border-radius: 24px;
     margin-inline: 8px;
  }

  @include media.mobile-s {
    min-height: 860px;
  }

  &__container {
    position: relative;
    z-index: 2;
    padding-top: 32px;
    padding-bottom: 32px;

    @include media.desktop-l {
      min-height: 100vh;
      padding-top: 40px;
      padding-bottom: 40px;
    }
      @include media.tablet{
      min-height: 81vh;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  

    @include media.mobile {
      min-height: 941px;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include media.mobile-s {
      min-height: 860px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    max-width: 606px;
    display: flex;
    flex-direction: column;
    gap: 94px;

    @include media.desktop-l{
      max-width: 100%;
      align-items: center;
       gap: 24px;
    }
    @include media.tablet {
      gap: 24px;
    }

    @include media.mobile {
      max-width: 100%;
      gap: 40px;
    }

    &-info{
      display: flex;
      flex-direction: column;
      gap: 16px;
      z-index: 3;
      max-width: 606px;

      @include media.mobile {
        gap: 12px;
      }
    }
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    background-color: rgba(228, 228, 228, 0.12);
    border-radius: 40px;
    color: var(--color-light);
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    width: fit-content;

    @include media.mobile {
      font-size: 10px;
    }
  }

  &__title {
    margin: 0;
    font-family: var(--font-family-base);
    font-weight: 500;
    @include mixins.fluid-text(48, 28);
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: lowercase;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 475px;

    @include media.mobile {
      max-width: 100%;
      line-height: 1;
    }
  }

  &__description {
    margin: 0;
    font-family: var(--font-family-base);
    font-weight: 500;
    @include mixins.fluid-text(16, 14);
    line-height: 1.3;
    color: var(--color-light);
    opacity: 0.8;
    max-width: 526px;

    @include media.mobile {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;

    @include media.tablet {
      gap: 10px;
    }

    @include media.mobile {
      flex-direction: column;
      width: 100%;
      gap: 12px;
      margin-top: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 29px;
    height: 60px;
    border-radius: 40px;
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-decoration: none;
    transition: all var(--transition-duration);
    white-space: nowrap;

    @include media.tablet {
      padding: 12px 12px;
      height: 52px;
      font-size: 15px;
    }

    @include media.mobile {
      width: 100%;
      padding: 14px 29px;
      height: 48px;
      font-size: 16px;
    }

    &--primary {
      background-color: var(--color-light);
      color: black;

      @include media.hover {
        background-color: rgba(255, 255, 255, 0.9);
      }
    }

    &--secondary {
        background-color: rgba(0, 0, 0, 0.09);
      color: var(--color-light);

      @include media.hover {
        background-color: rgba(255, 255, 255, 0.35);
      }
    }
  }

  &__features {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 24px;
    @include media.tablet {
      gap: 24px;
    }

    @include media.mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 175px;

    @include media.desktop-l {
  
      text-align: center;
       align-items: center;
    }
    @include media.mobile {
      max-width: 100%;
      flex-direction: row;
     text-align: left;
      gap: 12px;
    }
  }

  &__feature-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__feature-text {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-light);

    @include media.mobile {
      font-size: 16px;
      line-height: 1.171875;
    }
  }

  // Фоновые элементы
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 32px;

    @include media.tablet {
      border-radius: 24px;
    }

    @include media.mobile {
      border-radius: 20px;
    }
  }

  &__bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  

    @include media.desktop-l {
      background-image: url('../images/hero/bg-gradient.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;

    }
     @include media.mobile {
       background: linear-gradient(-36deg, rgba(147, 150, 255, 1) 44%, rgba(110, 58, 255, 1) 100%);
      }
    
    &::before {
      content: '';
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 200%;
      height: 200%;
      background: radial-gradient(circle, rgba(255, 183, 211, 0.6) 0%, transparent 50%);
      z-index: 2;
      pointer-events: none;

     
    }
  }


  &__bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 3;
    object-fit: cover;
    pointer-events: none;
    @include media.desktop-l {
       @include mixins.visually-hidden();


    } 
    &__tablet-laptop{
      overflow: hidden;
    
      @include media.desktop-l {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 3;
        object-fit: cover;
        pointer-events: none;
        bottom: -17%;
        left: 40%;
        transform: translateX(-50%);
        @include mixins.responsive-image-width(70, 250, 1440, 760 );
      }
      @include media.desktop{
         bottom: -10%;
      }
        @include media.desktop{
         bottom: -6%;
      }
       @include media.mobile {
        @include mixins.visually-hidden
      }
    }
    &__mobile-laptop{
     overflow: hidden;
    
      @include media.mobile {
        display: block;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 3;
        object-fit: cover;
        pointer-events: none;
        bottom: -200px;
      }

       @include media.mobile-s {
        bottom: -40px;
      }
    }
  }


}
