@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('../fonts/Inter28pt-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('../fonts/RobotoSemiCondensed-SemiBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Flex';
    src: url('../fonts/RobotoFlex-VariableFont.ttf') format('ttf');
    font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

