@use 'mixins';
@use 'media';

html {
  scroll-behavior: smooth;
}

body {
  @include mixins.fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-variation-settings:
    'GRAD' 62,
    'XOPQ' 96,
    'XTRA' 513,
    'YOPQ' 90,
    'YTAS' 727,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 658,
    'slnt' 0,
    'wdth' 86;
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
  padding-top: 108px; // Высота header (44px) + padding (32px * 2)

  @include media.tablet {
    padding-top: 84px; // Высота header (44px) + padding (20px * 2)
  }

  @include media.mobile {
    padding-top: 76px; // Высота header (44px) + padding (16px * 2)
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  @include mixins.fluid-text(60, 43);
}

h2, .h2 {
  @include mixins.fluid-text(40, 36);
}

h3, .h3 {
  @include mixins.fluid-text(30, 26);
}

h4, .h4 {
  @include mixins.fluid-text(20, 18);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
}
section{
  padding-bottom:var(--section-padding-y) ;
}