@use 'media';

:root {
  --color-dark: #1E1E1E;
  --color-dark-alt: #00000099;
  --color-light: #FFFFFF;
  --color-accent: #4586C5;
  --color-accent-alt: #7F64FF;
  --color-gray: #D9D9D9;
  --color-gray-alt: #CBCBCB;

  --border: 1px solid var(--color-dark);
  --border-radius: 30px;
  --border-radius-small: 24px;
  --border-radius-large: 40px;

  --font-family-base: 'Roboto Flex', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 32px;

  --section-padding-y: 256px;

  --input-height: 59px;
  --button-height: 68px;

  --transition-duration: 0.2s;

  @include media.desktop {
    --section-padding-y: 200px;
  }

  @include media.mobile {
    --section-padding-y: 128px;
  }
}